In [1]:
import pandas as pd

In [2]:
import numpy as np

# Load the train and test datasets into pandas dataframes

In [3]:
na_values = ['[]','','NA']

In [4]:
test = pd.read_csv("/Volumes/Transcend/class/6211/test.csv",na_values = na_values)

/Users/biyichen/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,9,10,11,12,43,157,167,177,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
train = pd.read_csv("/Volumes/Transcend/class/6211/train.csv",na_values = na_values)

/Users/biyichen/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
train.shape[0]

145231

In [7]:
train.shape[1]

1934

In [8]:
test.shape[0]

145232

In [9]:
test.shape[1]

1933

In [10]:
train.dtypes

ID            int64
VAR_0001     object
VAR_0002      int64
VAR_0003      int64
VAR_0004      int64
VAR_0005     object
VAR_0006    float64
VAR_0007    float64
VAR_0008     object
VAR_0009     object
VAR_0010     object
VAR_0011     object
VAR_0012     object
VAR_0013    float64
VAR_0014    float64
VAR_0015    float64
VAR_0016    float64
VAR_0017    float64
VAR_0018    float64
VAR_0019    float64
VAR_0020    float64
VAR_0021    float64
VAR_0022    float64
VAR_0023    float64
VAR_0024    float64
VAR_0025    float64
VAR_0026    float64
VAR_0027    float64
VAR_0028    float64
VAR_0029    float64
             ...
VAR_1906      int64
VAR_1907      int64
VAR_1908      int64
VAR_1909      int64
VAR_1910      int64
VAR_1911      int64
VAR_1912      int64
VAR_1913      int64
VAR_1914      int64
VAR_1915      int64
VAR_1916      int64
VAR_1917      int64
VAR_1918      int64
VAR_1919      int64
VAR_1920      int64
VAR_1921      int64
VAR_1922      int64
VAR_1923      int64
VAR_1924      int64
VAR_1925      int64
VAR_1926      int64
VAR_1927      int64
VAR_1928      int64
VAR_1929      int64
VAR_1930      int64
VAR_1931      int64
VAR_1932      int64
VAR_1933      int64
VAR_1934     object
target        int64
Length: 1934, dtype: object

In [11]:
#train[train.isnull().any(axis=1)]

In [12]:
#train.apply(lambda s: s[np.isfinite(s)].dropna()) # drop the infinite value

In [13]:
#train.replace([np.inf, -np.inf], np.nan).dropna(axis=1)

In [14]:
cat_columns = train.select_dtypes(['object']).columns

In [15]:
cat_columns

Index(['VAR_0001', 'VAR_0005', 'VAR_0008', 'VAR_0009', 'VAR_0010', 'VAR_0011',
       'VAR_0012', 'VAR_0043', 'VAR_0073', 'VAR_0075', 'VAR_0156', 'VAR_0157',
       'VAR_0158', 'VAR_0159', 'VAR_0166', 'VAR_0167', 'VAR_0168', 'VAR_0169',
       'VAR_0176', 'VAR_0177', 'VAR_0178', 'VAR_0179', 'VAR_0196', 'VAR_0200',
       'VAR_0202', 'VAR_0204', 'VAR_0214', 'VAR_0216', 'VAR_0217', 'VAR_0222',
       'VAR_0226', 'VAR_0229', 'VAR_0230', 'VAR_0232', 'VAR_0236', 'VAR_0237',
       'VAR_0239', 'VAR_0274', 'VAR_0283', 'VAR_0305', 'VAR_0325', 'VAR_0342',
       'VAR_0352', 'VAR_0353', 'VAR_0354', 'VAR_0404', 'VAR_0466', 'VAR_0467',
       'VAR_0493', 'VAR_1934'],
      dtype='object')

In [16]:
train[cat_columns] = train[cat_columns].apply(lambda x: x.astype('category'))

In [17]:
train[cat_columns] = train[cat_columns].apply(lambda x: x.cat.codes)

In [18]:
#float_columns = train.select_dtypes(['float64']).columns

In [19]:
#train[float_columns] = train[float_columns].apply(lambda x: x.astype('int'))
#ValueError: ('Cannot convert non-finite values (NA or inf) to integer', 'occurred at index VAR_0006')

In [20]:
#train = train.drop('VAR_0006', 1)

In [21]:
train.dtypes

ID            int64
VAR_0001       int8
VAR_0002      int64
VAR_0003      int64
VAR_0004      int64
VAR_0005       int8
VAR_0006    float64
VAR_0007    float64
VAR_0008       int8
VAR_0009       int8
VAR_0010       int8
VAR_0011       int8
VAR_0012       int8
VAR_0013    float64
VAR_0014    float64
VAR_0015    float64
VAR_0016    float64
VAR_0017    float64
VAR_0018    float64
VAR_0019    float64
VAR_0020    float64
VAR_0021    float64
VAR_0022    float64
VAR_0023    float64
VAR_0024    float64
VAR_0025    float64
VAR_0026    float64
VAR_0027    float64
VAR_0028    float64
VAR_0029    float64
             ...
VAR_1906      int64
VAR_1907      int64
VAR_1908      int64
VAR_1909      int64
VAR_1910      int64
VAR_1911      int64
VAR_1912      int64
VAR_1913      int64
VAR_1914      int64
VAR_1915      int64
VAR_1916      int64
VAR_1917      int64
VAR_1918      int64
VAR_1919      int64
VAR_1920      int64
VAR_1921      int64
VAR_1922      int64
VAR_1923      int64
VAR_1924      int64
VAR_1925      int64
VAR_1926      int64
VAR_1927      int64
VAR_1928      int64
VAR_1929      int64
VAR_1930      int64
VAR_1931      int64
VAR_1932      int64
VAR_1933      int64
VAR_1934       int8
target        int64
Length: 1934, dtype: object

In [22]:
cat_columns2 = test.select_dtypes(['object']).columns

In [23]:
test[cat_columns2] = test[cat_columns2].apply(lambda x: x.astype('category'))

In [24]:
test[cat_columns2] = test[cat_columns2].apply(lambda x: x.cat.codes)

In [25]:
train=train.replace([np.inf, -np.inf], np.nan).dropna(axis=1)

In [26]:
train.shape[1]

1456

In [27]:
train.head()

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0008,VAR_0009,VAR_0010,VAR_0011,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,0,224,0,4300,1,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,2,0
1,4,0,7,53,4448,0,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,2,0
2,5,0,116,3,3464,1,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,2,0
3,7,0,240,300,3200,1,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,4,0
4,8,2,72,261,2000,2,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,0,1

In [28]:
#train = train.apply(lambda s: s[np.isfinite(s)].dropna())

In [29]:
#train.shape[1]

In [30]:
type(train)

pandas.core.frame.DataFrame

In [31]:
#train.dtypes

In [32]:
#train = train[train.isnull().any(axis=1)]

In [33]:
#train.shape[1]

In [34]:
from sklearn import linear_model

In [35]:
#create model object with one hyperparamater set
logreg = linear_model.LogisticRegression(C=1e5)

In [36]:
X_train = train.iloc[:,1:1455]
y_train = train['target']

In [37]:
X_train.head()

,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0008,VAR_0009,VAR_0010,VAR_0011,VAR_0012,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934
0,0,224,0,4300,1,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
1,0,7,53,4448,0,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
2,0,116,3,3464,1,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
3,0,240,300,3200,1,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,4
4,2,72,261,2000,2,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,0

In [38]:
#Train the model
logreg.fit(X_train, y_train)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [39]:
# Evaluation metrics on test data
# The coefficients
print('Coefficients: \n', logreg.coef_)

Coefficients:
 [[  1.65847486e-15  -3.40141322e-13  -2.49449643e-13 ...,  -7.57836409e-13
   -3.36454929e-12   8.93754623e-15]]

In [40]:
# The mean squared error
print("Mean squared error: %.2f"
      % np.mean((logreg.predict(X_train) - y_train) ** 2))

Mean squared error: 0.23

In [41]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % logreg.score(X_train, y_train))

Variance score: 0.77

In [42]:
test=test.replace([np.inf, -np.inf], np.nan).dropna(axis=1)

In [43]:
test.shape[1]

1455

In [44]:
test.head()

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0008,VAR_0009,VAR_0010,VAR_0011,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934
0,1,2,360,25,2251,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
1,3,2,74,192,3274,1,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
2,6,2,21,36,3500,1,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
3,9,2,8,2,1500,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
4,10,0,91,39,84500,1,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2

In [45]:
X_test = test.iloc[:,1:1455]

In [46]:
X_test.head()

,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0008,VAR_0009,VAR_0010,VAR_0011,VAR_0012,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934
0,2,360,25,2251,0,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
1,2,74,192,3274,1,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
2,2,21,36,3500,1,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
3,2,8,2,1500,0,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2
4,0,91,39,84500,1,0,0,0,0,0,...,0,98,98,998,999999998,998,998,9998,9998,2

In [47]:
predictions = logreg.predict(X_test)

In [48]:
# CRATE YOUR SUBMISSION FILE HERE
result = pd.DataFrame(predictions)
result.to_csv("A10b_G48027164.csv")